<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"  content="IE=edge" />
    <meta name="viewport"               content="width=device-width, initial-scale=1" />
    <meta property="fb:app_id"          content="1758387034450945" />
    <meta property="og:type"            content="website" />
    <meta property="og:url"             content="http://supernovadenver.com/" />
    <meta property="og:title"           content="Denver's first outdoor digital art and animation festival" />
    <meta property="og:image"           content="___.jpg" />
    <meta property="og:description"     content="http://samples.ogp.me/390580850990722" />
    <title>SUPERNOVA</title>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>

<!-- NAV/SIDE +++++ FIXED -->
    <div id="nav-bar">
        <div id="logo-banner"></div>
        <div id="blurb">{{ blurb }}</div>
        <div id="nav-command">
            <span id="login-button">{{ login }}</span>
            <span id="about-button">{{ about }}</span>
            <span id="sched-button">{{ sched }}</span>
        </div>
    </div>
    <div id="nav-secondary-command">
        <div id="about-list">
            {{#each aboutmenu}}
            <div>{{this}}</div>
            {{/each}}
        </div>
        <div id="sched-list">
            {{#each schedmenu}}
            <div>{{this}}</div>
            {{/each}}
        </div>
    </div>
    <div id="side-panels">
        <div id="social-contact">

        </div>

        <div id="sponsors">

        </div>
    </div>
<!-- END NAV/SIDE +++++ FIXED -->

<!-- CONTENT -->
    <div class="page-window">

    </div>
<!-- END CONTENT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js-prod/main.js"></script>
</body>
</html>
